.lesRow{
    display: flex;
}
.sideMapSec{
    background-color: #EDDE9C;
}
.startContent{
    text-align: center;
}
.startConHead{
    font-size: 35px;
    font-family: monospace;
    color: #33079b;
    font-weight: 600;
    margin-top: 30px;
}
.StartWalker{
    width: 80px;
}
.ConHead{
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    color: rgb(24, 4, 78);
}
.revHeder{
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    color: rgb(24, 4, 78);
}
.revSec{
    background-color:rgb(243, 223, 135);
}
.waitConSecHed{
    margin-top: 30px;
    color: rgb(201, 13, 13);
}
.waitConSecHed2{
    margin-top: 20px;
    color: rgb(60, 31, 226);
}
.waitConSec{
    text-align: center;
}
.waitConSecImg{
    margin-top: 30px;
    width:200px;
}

/* style revision*/
.revSubHeder{
    font-size: 14px;
    font-family: monospace;
}
.firstTerm{
    width: 99%;
    height: 150px;
    background-color: #fff;
    padding-top: 3px;
    overflow-y: scroll;
    margin-bottom: 5px;
}
.firstTerm::-webkit-scrollbar{
    display: none;
}
.test{
    width: 75px;
    height: 80px;
    background-color: rgb(199, 186, 186);
    margin:5px 10px;
    text-align: center;
    display:inline-block;
    border: 2px solid rgb(139, 132, 132);
}
.testImg{
    width: 45px;
}
