.rewQ{
    font-size: 18px;
    font-weight: 700;
    color: rgb(125, 0, 0);
}
.reWraper{
    position: relative;
    background:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(225,237,160,1) 40%);
    border: 2px solid #808858;
    margin: 15px 20px 40px 20px;
    padding: 8px;
    border-radius: 5px;
    -webkit-box-shadow: 7px 12px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 12px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 12px 5px 0px rgba(0,0,0,0.75);
}
.reQimgs{
    text-align: center;
}
.reImg{
    width: 150px;
}
.reThorey{
    background-color: rgb(211, 224, 224);
    border: 2px solid rgb(142, 163, 163);
    margin-top: 10px;
}
.theroryHader{
    font-size: 16px;
    font-family: initial;
    color: rgb(4, 0, 250);
    padding: 5px 8px;
}
.theory{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: 600;
}
.solWrap{
    background-color: rgb(211, 224, 224);
    border: 2px solid rgb(107, 105, 105);
    margin-top: 10px;
}
.solveHader{
    font-size: 16px;
    font-family: initial;
    color: rgb(4, 0, 250);
    padding: 5px 8px;
}
.solveStep{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: 600;
}
.QcAnswer{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.QwAnswer{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
}
.answerR{
    background-color: #D3E0E0;
    border: 2px solid rgb(73, 8, 224);
    padding: 3px 20px;
}
.answerRw{
    background-color: rgb(240, 47, 47);
    border: 2px solid rgb(105, 2, 2);
    color: #fff;
    padding: 3px 20px;
}
.markImg{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
}