.authWraper{
    margin: 15px 15px;
    padding: 5px 5px;
    border: 2px solid rgb(53, 52, 52);
    background-color: rgb(139, 130, 130);
}
.srHader{
    font-size: 28px;
    text-align: center;
    padding: 4px 0;
    margin: 2px 2px;
    font-family: monospace;
    font-weight: 600;
    color: rgb(75, 73, 73);
}
.center{
    text-align: center;
}
.srCol{
    padding: 8px 20px;
}
.srLabel{
    color: #ffffff;
}
.srcontrol{
    background-color: rgb(231, 228, 228);
}
.proImgSec{
    text-align: center;
}
.ImgUpBtn{
    border: 2px solid rgb(172, 160, 160);
    margin-top: 25px;
}
.ImgUpBtn:hover{
   cursor: pointer;
}
.profImg{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 10px auto; */
}
.proImgHader{
    font-size: 20px;
    color: rgb(75, 74, 74);
}
.skilsHader{
    font-size: 18px;
    color: rgb(70, 69, 69);
    font-family: monospace;
    text-align: center;
    font-weight: 600;  
}
.tskilSec{
    background-color: rgb(168, 166, 166);
    margin: 0 10px;
    margin-bottom: 10px;
}
.field{
    border-bottom: 2px solid rgb(155, 153, 153);
}
.AddFbtn{
    background-color: rgb(128, 126, 126);
    border: 1px solid rgb(107, 105, 105);
    color: #ffffff;
    font-weight: 500;
    margin: 5px auto;

}